.tabulator-container {
    width: 100%;
    height: 100%;
    background-color: white;
}
 
.tabulator-header .tabulator-col {
    min-height: 70px;
}
 
.story {
 
}
 
.control_buttons {
    right: 100px;
    font-size: 15px;
    height: 20px;
    width: 50px;
}
 
.control_buttons button {
    font-size: 15px;
    height: 20px;
    width: 50px;
}
 
.column {
    display: None;
    position: absolute;
    border: 1px solid black;
}
 
.Backlog {
    display: None;
}
 
.dependency_line {
    pointer-events: none;
}
 
.wipChart {
    position: absolute;
    border-style: solid;
    border-width: 1px;
}
 
.issue_popup {
    display: none;
    position: fixed;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    bottom: 80px;
    width: 90vw;
    height: 150px;
    z-index: 3000;
    box-shadow: 0 0 30px 1px rgb(0 0 0 / 15%);
    border-radius: 5px;
    pointer-events: auto!important;
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
}
 
.issue_popup-content {
    margin: 5px;
    padding: 5px;
    display:flex;
    justify-content: left;
    flex-flow: row wrap;
    width: 100%;
    height: 0px;
}
 
.issue_popup-content .content {
     display: flex;
     flex-direction: column;
     margin: 10px;
}
 
.issue_popup-content .content .header {
    font-weight: bold;
}
 
.issue_popup-content .content td {
    padding-right: 20px;
}
 
error_popup-content {
    margin: 5px;
    padding: 5px;
}
 
.issue_popup #close_button {
    background-image: url("images/close.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    top: 0px;
    right: 0px;
    width:20px;
    height: 20px;
}
 
.error_popup {
    display: none;
    position: fixed;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    bottom: 80px;
    width: 90vw;
    height: 200px;
    z-index: 3000;
    padding: 0;
    font-size: 0;
    line-height: 0;
    pointer-events: none!important;
    margin: 0px;
}
 
.error_link {
    position: absolute;
    top: -20px;
    right: -15px;
    height: 20px;
    background-color: darkred;
    font-size: small;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    cursor: pointer;
}
 
.error_message {
    display: None;
}
 
.issue_link {
    position: absolute;
    top: -32px;
    left: 0px;
    height: 32px;
    background-color: darkred;
    font-size: 30px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    cursor: pointer;
}
 
.issue_team {
    position: absolute;
    bottom: 2px;
    left: 2px;
    height: 10px;
    background-color: darkred;
    font-size: 20%;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    cursor: pointer;
}
 
.status_info {
    position: absolute;
    top: -32px;
    right: 0px;
    height: 32px;
    background-color: darkred;
    font-size: 30px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    cursor: pointer;
}
 
.status_resolved {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 20px;
    background-color: transparent;
    font-size: small;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    cursor: pointer;
}
 
 
.icon-align:before {
    content:"\26D3"
}
 
.icon-sync:before {
    content:"\f2f1"
}
 
.icon-delete:before {
    content: "\f1f8"
}
 